
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    /* background-color: #BB86FF; */
    background-color: #9C27B0;
}

* {
    box-sizing: border-box
}


h1 {
    padding-top: 0%;
    color: #ddd;
    width: 100%;
}

#fb {
    padding-top: 5%;
    top: 40%;
}


.centered {
    position: fixed;
    padding-top: 15%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -25px;
}

.open-button {
    background-color: #BA68C8;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    /* bottom: -100px;*/
    right: -180px; 
    width: 280px;
    font-size: 20px;
}
.sign {
    background-color: #BA68C8;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 20px;
}
.delete {
    background-color: #BA68C8;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 9%;
    opacity: 0.9;
    font-size: 20px;
}
label{
        color: #ddd;
}

button:hover{
    opacity: 5;
}

input[type=text]{
  width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=email]{
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
textarea[type=text]{
  width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text]:focus,
textarea[type=text]:focus {
    background-color: #ddd;
    outline: none;
}

#text{
	width: 20%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(234, 237, 241);
}

.nav{ background-color:black; padding: 20px; width: 100%;}

.nav a { color:white; text-decoration:none; margin:9%; font-size: 25px;}

.left {
    left: 0;
    padding-right: 90%;
    color: white;
}
.container {
  display: block;
  position: relative;
  padding-right: 40%;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
  left: 0%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
